{% extends "base.html" %}
{% block content %}
    
    <form class="form" id="form">
      <div class="text-center mb-4">
        <img class="mb-4" src="/static/images/yellow-pages.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">YELLOWPAGIST</h1>
        <p>Scrape business listings from <a href="https://www.yellowpages.com/">YP.com</a></p>
      </div>
      
      <div class="form-label-group">
        <input type="text" id="term" name="term" class="form-control" placeholder="Search term" required autofocus>
        <label for="term">Search term</label>
      </div>

      <div class="form-label-group">
        <input type="text" id="location" name="location" class="form-control" placeholder="Location" required>
        <label for="location">Location</label>
      </div>

      <div class="form-label-group">
        <input type="number" id="radius" name="radius" class="form-control" placeholder="Radius" required>
        <label for="radius">Radius</label>
      </div>

      <div class="form-label-group">
        <input type="number" id="minRating" name="minRating" class="form-control" placeholder="Minimum rating" required>
        <label for="minRating">Minimum rating</label>
      </div>

      <div class="form-label-group">
        <input type="number" id="maxRating" name="maxRating" class="form-control" placeholder="Maximum rating" required>
        <label for="maxRating">Maximum rating</label>
      </div>

      <button id="submitBtn" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      <!-- <i id="loadingGIF" style="display:none" class="fa fa-spinner fa-spin" style="font-size:24px"></i> -->
      <img id="loadingGIF" src="static/images/Rolling-40px.svg" style="display: none; position:fixed">
      <p class="mt-5 mb-3 text-muted text-center">Made with &hearts; by <a href="https://github.com/SkullTech/yellowpagist">SkullTech</a></p>
    </form>

{% endblock %}
